.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');
body{

  background-color: #976567;
  font-family: 'Encode Sans SC', sans-serif;

}

 h1{
  text-shadow: #d59687 2px 5px;

 }
.nav-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FBCCC1 ;
  box-shadow: 2px 2px 6px 0px rgb(20, 17, 15);
  padding: 20px;
}

.nav-links{
  display: flex;
  flex-direction: row;    
  align-items:center;
  text-decoration: none;
}

p{
  text-decoration: none;
  align-items:center;
  font-family: 'Encode Sans SC', sans-serif;
  color: #924634;
  margin: 5px;
}
p:hover {
  opacity: 40%;
  cursor: pointer;
}

.homepage-container img {
  border: 1px solid #ccc;
  animation: fadeIn 3s;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
  margin: 10px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.link{
  text-decoration: none;
  color: #924634;
}