* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;

	outline: 0;
	padding: 0;
	margin: 0;
  box-sizing: border-box;
	border:1px solid red;
	}


.App {
  text-align: center;
  justify-content:center;
  align-items:center;
  font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
  
}
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');
body{

  height: 100%;
  background-color: #D2A3A9;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Encode Sans SC', sans-serif;

}
.brand{
  font-family: 'Homemade Apple', cursive;
  font-size: 3rem;
}

 h1{
  text-shadow: #d59687 2px 5px;

 }
.nav-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FBCCC1 ;
  box-shadow: 2px 2px 6px 0px rgb(20, 17, 15);
  padding: 20px;
}

.nav-links{ 
  display: flex;
  flex-direction: row;    
  align-items:center;
  text-decoration: none;
  
}
.nav-links img:hover{
  opacity: 95%;
  box-shadow:  1px 1px 1px black;
}


p{
  text-decoration: none;
  align-items:center;
  font-family: 'Encode Sans SC', sans-serif;
  color: black;
  margin: 5px;
}
p:hover {
  opacity: 80%;

}

.homepage-container img {
  animation: fadeIn 3s;
  max-width: 100%;
  margin: 10px;
  object-fit: cover;
}

.homepage-grid-image:hover {
  opacity: 75%;
  animation: fadeIn 3s;
  box-shadow:  5px 10px 10px black;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.link{
  text-decoration: none;
  color: #924634;
}

.contact-us-container{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60vh;
  padding: 20px;
  box-shadow:  1px 1px 1px 1px black;
}
.category-container{
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  justify-content:center;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  background-image: url("./image/blob-haikei.png");
  align-items: center;
  justify-content:center;
  text-align: center;
  box-shadow:  1px 1px 1px 1px black;
  width: 40ch;
  height: 20vh;
  margin: 10px;
}

.category-wrapper:hover{
  opacity: 85%;
  min-height: 100%;

  flex-direction: row;
}

.portfolio-container{
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.blog-cards{ 
    align-items: center;
    background-color: #FBCCC1;
    margin: 3rem;
    width: 75%;
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: 10px 10px 5px #d59687;
}
.blog-cards img{
    display: flex;
    flex-direction: flex-start;
    width: 35%;
    height: 35%;
}

/* About me page */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.wrapper{
    background: linear-gradient(90deg, #FFE7E2, #d59687);
    min-height: 100%;
    display:flex;
    box-shadow: 5px 5px 5px 5px rgb(20, 17, 15);
    margin-bottom: 45px;
}

.sub-wrapper{
  display:flex;
  flex-direction: column;
  align-items:center;
  background-color: #d59687;
  box-shadow: 5px 5px 5px 5px rgb(20, 17, 15);
  min-height: 100%;
  margin: 10px;
  border-radius: 20px;
}

.sub-container{
  display:flex;
  flex-direction: row;
}
/* 
.sub-wrapper2{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #d59687;
  box-shadow: 5px 5px 5px 5px rgb(20, 17, 15);
  min-height: 90%;
  border-radius: 20px;
} */


.left{
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  align-items:center;
  width: 50%;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}
.aboutmepic{
  object-fit: cover;
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius:  30%;
  box-shadow: 5px 5px 5px 5px rgb(20, 17, 15);
  }
  .aboutmepic2{
    margin-left: 15rem;
    object-fit: cover;
    margin: 10rem, 10rem, 10rem, 0rem;
    width: 300px;
    height: 300px;
    border-radius:  30%;
    box-shadow: 5px 5px 5px 5px rgb(20, 17, 15);
    }

.parallax{
  /* Full height */
  height: 45vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.main-text{
text-shadow: #d59687 2px 5px;
font-family: 'Montserrat', sans-serif;
font-size: 80px;
font-style: normal;

}

.sub-text,.sub-text h2{
  display: flex;
  text-shadow: #d59687 2px 5px;
  flex-direction: column;
  justify-content: flex-start;
  text-shadow: #d59687 2px 5px;
  font-family: 'Karla', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  align-items:center;
}

.info, p{
  margin: 10px;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-style: normal;
}

.sub-image{
 
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px;

}
/* About me page */