*{
  margin: 0px auto;
  box-sizing: border-box;
  padding: 0px;
  border: solid 1px red;
}


.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');
body{
  height: 100%;
  background-color: #D2A3A9;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Encode Sans SC', sans-serif;

}
.brand{
  font-family: 'Homemade Apple', cursive;
  font-size: 3rem;
}

 h1{
  text-shadow: #d59687 2px 5px;

 }
.nav-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FBCCC1 ;
  box-shadow: 2px 2px 6px 0px rgb(20, 17, 15);
  padding: 20px;
  margin-bottom: 20px;
}

.nav-links{
  display: flex;
  flex-direction: row;    
  align-items:center;
  text-decoration: none;
  
}
.nav-links img:hover{
  opacity: 95%;
  box-shadow:  1px 1px 1px black;
}


p{
  text-decoration: none;
  align-items:center;
  font-family: 'Encode Sans SC', sans-serif;
  color: black;
  margin: 5px;
}
p:hover {
  opacity: 95%;
  cursor: pointer;
  box-shadow:  1px 2px 1px black;
}

.homepage-container img {
  animation: fadeIn 3s;
  max-width: 100%;
  margin: 10px;
}

.homepage-grid-image:hover {
  opacity: 75%;
  animation: fadeIn 3s;
  box-shadow:  1px 2px 1px black;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.link{
  text-decoration: none;
  color: #924634;
}

.about-container{
    height: 100%;
}

.aboutmepic{
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius:  50%;
  box-shadow: 5px 5px 5px 5px rgb(20, 17, 15);
}

.big-text{
  display: flex;
  justify-content:center;
  text-shadow: #d59687 2px 5px;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
}

.paragraph{
  font-size: 30px;
}

.parallax{
  /* Full height */
  height: 45vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/7b/ce/0a/7bce0a569ce92c2a1e243b8725d08801.jpg");

}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}


span{
  width:50%;
}




.details{
  padding: 10px;
  display: flex;
  margin: 10px;
  
}


.contact-us-container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 50%;
  margin:  15rem;
  padding: 20px;
  box-shadow:  1px 1px 1px 1px black;
}
